body {
    margin: 0;
    background-color: #edecb7;
    box-sizing: border-box;
}

.slider_conteiner {
    display: flex; 
    height: 20%;
    padding: 6%;
}

.slider_content {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    background-color: #c79bd5;
    overflow: hidden;
    border-radius: 1px;
    box-shadow:  10px 5px 5px #824cf6;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.slider_image {
    width: 25%;
}

input[name="slide"] {
    display: none;
}

.slider_wrap {
    width: 400%;
    height: 80%;
    display: flex;
    overflow: hidden;
    margin: 0 auto;
}

.slider_image {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
    transition: all 0.6s;
    opacity: 0;
}

.slider_image_one {
    opacity: 1;

}


.slide_img {

    max-width: 100%;
    max-height: 100%;
}

.navigation_bar {
    display: flex;
   
}

.block_text_wrap {
    overflow: hidden;
    width: 400%;
    display: flex;
    align-items: center;
}

.block_text {
    display: flex;
    align-items: center;
    min-width: 100%;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: #283cac;
    transition: all 0.6s;
    transform: translateX(0);
}

.block_button {
    display: flex;
   
} 

.button_label {
    padding: 1rem;
    cursor: pointer;
}

.origin_btn {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #75e1f2;
    border: 1px solid #156464;
    transition: all 0.4s;
}

.button_label:hover .origin_btn {
    background-color: #421ac5;
}