body {
    margin: 0;
    background-color: #edecb7;
    box-sizing: border-box;
}

.slider_conteiner {
    display: flex; 
    height: 711px;
    padding: 41px;
}

.slider_content {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #c79bd5;
    overflow: hidden;
    border-radius: 12px;
    box-shadow:  10px 5px 5px #824cf6;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    
}


input[name="slide"] {
    display: none;
}

.slider_wrap {
    width: 508%;
    height: 80%;
    display: flex;
    overflow: hidden;
    margin: 0 auto;
}

.slider_image {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
    transition: all 0.5s;
}


.slide_img {
    width: 700px;
    max-width: 100%;
    max-height: 100%;
}

.navigation_bar {
    display: flex;
    padding: 0 35px;
   
}

.block_text_wrap {
    overflow: hidden;
    width: 400%;
    display: flex;
    align-items: center;
}

.block_text {
    display: flex;
    align-items: center;
    min-width: 100%;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: #283cac;
    transition: all 0.5s;
    transform: translateX(0);
    cursor: pointer;
}

.block_button {
    display: flex;
   
} 

.button_label {
    padding: 10px;
    cursor: pointer;
}

.origin_btn {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #75e1f2;
    border: 1px solid #156464;
    transition: all 0.4s;
}

.button_label:hover .origin_btn {
    background-color: #421ac5;
}

.button_label:active .origin_btn {
    border: 0.15rem solid #d638f5;
    box-shadow: 0 0 0.9rem 0.3rem #48856b, 0 0 0.7rem 0.2rem #43e898, 0 0 0.5rem 0.1rem #adffbb;
}

#slide1:checked ~ .navigation_bar .block_button .button_label:active .origin_btn_1,
#slide2:checked ~ .navigation_bar .block_button .button_label:active .origin_btn_2,
#slide3:checked ~ .navigation_bar .block_button .button_label:active .origin_btn_3,
#slide4:checked ~ .navigation_bar .block_button .button_label:active .origin_btn_4,
#slide5:checked ~ .navigation_bar .block_button .button_label:active .origin_btn_5 {
    background-color: #6cc8ef;
    border: 2px solid #ec38f5;
}
#slide1:checked ~ .slider_wrap .slider_image {
    transform: translateX(0);
}
#slide2:checked ~ .slider_wrap .slider_image {
    transform: translateX(-100%);
}
#slide3:checked ~ .slider_wrap .slider_image {
    transform: translateX(-200%);
}
#slide4:checked ~ .slider_wrap .slider_image {
    transform: translateX(-300%);
}
#slide5:checked ~ .slider_wrap .slider_image {
    transform: translateX(-400%);
}


#slide1:checked ~ .navigation_bar .block_text_wrap .block_text {
    transform: translateX(0);
}
#slide2:checked ~ .navigation_bar .block_text_wrap .block_text {
    transform: translateX(-100%);
}
#slide3:checked ~ .navigation_bar .block_text_wrap .block_text {
    transform: translateX(-200%);
}
#slide4:checked ~ .navigation_bar .block_text_wrap .block_text {
    transform: translateX(-300%);
}
#slide5:checked ~ .navigation_bar .block_text_wrap .block_text {
    transform: translateX(-400%);
}

#slide1:checked ~ .navigation_bar .block_text_wrap .block_text:nth-child(1),
#slide2:checked ~ .navigation_bar .block_text_wrap .block_text:nth-child(2),
#slide3:checked ~ .navigation_bar .block_text_wrap .block_text:nth-child(3),
#slide4:checked ~ .navigation_bar .block_text_wrap .block_text:nth-child(4),
#slide5:checked ~ .navigation_bar .block_text_wrap .block_text:nth-child(5) {
    color: #165876;

}
@media screen and (max-width: 768px) {
    .navigation_bar {
        flex-direction: column;
        row-gap: 25px;
    }
    .block_text_wrap {
        order: 2;
        width: 100%;
        align-self: center;
        margin: 0 -15px;
    }
    .block_button {
        align-self: center;
    }
   

   
}